.signupdiv{padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    color: #9c27b0;
}
.logindiv{
    padding-top: 6%;
   
}
.loginform{
    padding-top: 10%;
    color: #9c27b0;

}
.btn{
    color: #fff;
    background-color: #9c27b0;
}
